@font-face {
    font-family: Quicksand;
    src: url(fonts/Quicksand_Book.otf) format("opentype");
}

@font-face {
    font-family: Quicksand;
    src: url(fonts/Quicksand_Bold.otf) format("opentype");
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #fff1f2;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9f1239;
    border-radius: 10px;
  }

body {
    margin: 0;
    overflow: auto;
}

.logo {
    cursor: pointer;
}

.container {
    display: grid;

    height: 100vh;
    width: 100vw;

    grid-template-rows: repeat(5, 20fr);
    grid-template-columns: repeat(5, 20fr); 

    font-family: "Quicksand";
}

.sidebar {
    display: grid;
    padding-bottom: 10px;

    background-color: #9f1239;

    font-weight: bold;
    font-size: 1.2em;
    color: #fecdd3;

    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 6;

    grid-template-columns: 25fr 75fr;
    grid-template-rows: 150px repeat(10, 50px);
}

#dashboard-logo {
    display: block;
    margin: auto;
    margin-top: 25px;

    grid-column-start: 1;
    grid-row-start: 1;
}

#dashboard {
    margin-top: 30px;

    font-size: 1.83em;
    grid-column-start: 2;
    grid-row-start: 1;
}

.sidebar>img {
    display: block;
    margin: auto;
    margin-top: 17px;
}

#messages-logo {
    margin-top: 20px;
}

#history-logo {
    margin-top: 19px;
}

#settings-logo {
    grid-row-start: 9;
}
#settings {
    grid-row-start: 9;
    grid-column-start: 2;
}
#support-logo {
    grid-row-start: 10;
}
#support {
    grid-row-start: 10;
    grid-column-start: 2;
}
#privacy-logo {
    grid-row-start: 11;
}
#privacy {
    grid-row-start: 11;
    grid-column-start: 2;
}

.header {
    display: grid;

    background-color: #ffe4e6;
    
    padding-top: 25px;

    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

#search-bar {
    position: relative;
    bottom: 10%;

    background-image: url("logos/search.png");
    background-repeat: no-repeat;
    background-position-y: center;
    
    outline: none;
    border: none;
    background-color: #f0f9ff;
    
    padding-left: 25px;
    margin-left: 30px;
    margin-top: 25px;
    border-radius: 50px;
    height: 3.5vh;
    width: 35vw;
}

.topright-header {
    display: flex;
    justify-content: right;
    align-items: center;

    padding-right: 120px;
    gap: 15px;

}

#notification {
    background-image: url("logos/notifications.png");
    background-repeat: no-repeat;
    background-position: right;

    height: 25px;
    width: 25px;
}

#user-icon {
    background-image: url("icons/maincat.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;  

    width: 64px;
    height: 64px;

    clip-path: circle();
}

#user-name {
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
}

.bottomleft-header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;

    padding-top: 2vh;
    height: 8vh;
}

#big-user-icon {
    background-image: url("icons/maincat.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;  

    grid-row-start: 1;
    grid-row-end: 3;

    clip-path: circle();
}

#big-user-text1 {
    font-weight: bold;
    margin-bottom: 0;
}

#big-user-text2 {
    font-size: 1.45em;
    font-weight: bold;
}

.bottomright-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.bottomright-header>button {
    font-family: Quicksand;
    font-size: 1.25em;
    font-weight: bold;

    border-radius: 50px;
    background-color: #fb7185;
    color: white;

    outline: none;
    border: none;

    height: 50px;
    width: 125px;
}

.main-content {
    background-color:#fff1f2;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 20px;

    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.label {
    position: relative;
}

.label>p {
    position: absolute;

    bottom: 0;
    left: 0;

    margin: auto;

    color: grey;
    font-size: 1.2em;
    font-weight: bold;
}

.post {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: 4fr 1fr;

    border-radius: 15px;

    box-shadow: 5px 5px 8px 1px black;
}

.post-sidebar {
    background: rgb(190,18,60);
    background: linear-gradient(90deg, rgba(190,18,60,1) 0%, rgba(251,113,133,1) 25%, rgba(254,205,211,1) 95%);
    
    box-shadow: 4px 0px 3px 1px #fda4af;

    border-radius: 10px 0px 0px 10px;

    grid-row-start: 1;
    grid-row-end: 3;
}

.post-buttons {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;

    padding-bottom: 10px;
    padding-right: 25px;
}

.post-content {
    display: grid;
    grid-template-rows: 1fr 4fr;

    padding-left: 10px;
    padding-top: 5px;
    overflow: auto;
}

.post-content>header {
    font-size: 1.25em;
    font-weight: bold;
}

.post-buttons>img {
    height: 25px;
    width: 25px;
}

#post1 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 5;
}

#post2 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}

#post3 {
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 8;
}

#post4 {
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 8;
}

#post5 {
    grid-column-start: 1;
    grid-row-start: 8;
    grid-row-end: 11;
}

#post6 {
    grid-column-start: 2;
    grid-row-start: 8;
    grid-row-end: 11;
}

#label2 {
    grid-row-start: 1;
    grid-column-start: 3;
}

#world-news {
    display: grid;
    grid-template-columns: 1fr 40fr;
    grid-template-rows: 1fr 1fr;

    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 5;

    overflow: auto;
}

#world-news>.post-sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
}

.news {
    padding-left: 10px;
}
.news>header {
    font-size: 1.2em;
    font-weight: bold;
}

#label3 {
    grid-column-start: 3;
    grid-row-start: 5;
}

#trending {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 40fr;

    grid-row-start: 6;
    grid-row-end: 11;
    grid-column-start: 3;
}

#trending>.post-sidebar {
    grid-row-end: 4;
}

.popular-cat {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;

    overflow: auto;

    color: #ffe4e6;
}

.popular-cat>p {
    grid-row-start: 2;
}

.popular-cat>header {
    font-size: 1.1em;
    font-weight: bold;
}

.popular-cat-icon {

    grid-column-start: 1;
    grid-column-end: 3;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  

    height: fit-content;
    width: fit-content;

    clip-path: circle();
}

#popular-cata {
    background-image: url("icons/coolcat.jpg");
}

#popular-catb { 
    background-image: url("icons/grandpacat.jpg");
}

#popular-catc {
    background-image: url("icons/totallycat.jpg");
}